<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gooselab.gupta4_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <activity android:name="com.gooselab.gupta4_kotlin.PopupButtonActivity" android:screenOrientation="portrait" />
        <activity android:name="com.gooselab.gupta4_kotlin.MyAllergyActivity" android:screenOrientation="portrait" />
        <activity android:name="com.gooselab.gupta4_kotlin.MyPostsActivity" android:screenOrientation="portrait" android:launchMode="singleTop"/>
        <activity android:name="com.gooselab.gupta4_kotlin.SchoolSearchActivity" android:screenOrientation="portrait" />
        <activity android:name="com.gooselab.gupta4_kotlin.MySettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.gooselab.gupta4_kotlin.SplashScrrenActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>
        <activity android:name="com.gooselab.gupta4_kotlin.CommunityActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.gooselab.gupta4_kotlin.CommunityCareerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.gooselab.gupta4_kotlin.CommunityMySchoolActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.gooselab.gupta4_kotlin.WriteActivity" android:screenOrientation="portrait" />
        <activity android:name="com.gooselab.gupta4_kotlin.DetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop"/>
        <activity android:name="com.gooselab.gupta4_kotlin.MainActivity" android:screenOrientation="portrait" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>